<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src=" <%= blog.image %> ">
        </div>
        <div class="content">
            <p><%= blog.created.toDateString() %></p>
        </div>
        <div class="description">
            <span><%- blog.body %></span>
        </div>
        <a class="ui blue button" href="/blogs/<%= blog._id %>/edit">Edit</a>
        <!--<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">-->
        <!--    <button class="ui red button">Delete</button>-->
        <!--</form>-->
    </div>
        
        
</div>
<% include ./partials/footer %>
